# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Database
*.sqlite3

# Migrations cache
*.db

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/